<!-- views/partials/_header.ejs-->

<header>
  <h1>Tiny App</h1>

    <form method="POST" action='/login'>
      <label for="username">Enter your username:</label>
      <input id="username" type="text" name="username" style="width: 300px" placeholder="username" >
      <input type="submit" value="Sign In">
    </form>

</header>