<!-- views/partials/_header.ejs-->

<header>
  <h3><a href="/">Tiny App</a></h3>
  
  <% if (user) { %>
    <h2>Hello, <%= user.email %></h2>
    <form method="POST" action="/logout">
      <input type="submit" value="Logout">
    </form> 

  <% } else {
    
    if (!loginPage) { %>

    <a href="/login"><button>Login</button></a>
      
    <% } if (!registerPage) { %>
    
    <a href="/register"><button>Register</button></a>
  <% }} %>
  
  

</header>