<!-- views/partials/_header.ejs-->

<header>
  <h2><a href="/">Tiny App</a></h2>
  
  <% if (user) { %>
    
    <h4><%= user.email %>
      <form method="POST" action="/logout">
        <input type="submit" value="Logout">
      </form> 
    </h4>
  
  <% } else {
    if (!loginPage) { %>
    <a href="/login"><button>Login</button></a> 
    <% } if (!registerPage) { %>
    <a href="/register"><button>Register</button></a>
  <% }} %>
  
</header>