<!-- views/login.ejs-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <% include partials/_header %>

    <h1>Login</h1>

      <form method="POST" action='/login'>
        <label for="email">Enter your email:</label>
        <input id="email" type="text" name="email" style="width: 300px" placeholder="email@domain.com" >
        <label for="password">Enter your password:</label>
        <input id="password" type="text" name="password" placeholder="password" style="width: 300px">
        <input type="submit" value="Login">
      </form>
    
</body>
</html>
