<!-- views/register.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <% include partials/_header %>

    <h1>Register</h1>

    <div>
      <form action="/register" method="POST" style="margin:150px;">
        <div>
          <label for="email">Enter your email:</label>
          <input id="email" type="text" name="email" placeholder="email@domain.com" style="width: 300px">
        </div>
        <div>
          <label for="password">Enter your password:</label>
          <input id="password" type="text" name="password" placeholder="password" style="width: 300px">
        </div>
        <input type="submit" value="Submit">
      </form>
    </div>

</body>
</html>