<!-- views/urls_show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">

  <% include partials/_header %>
    
  <div>
    Short URL: <%= shortURL %>
  </div>
  <div>
    Long URL: <%= urls[shortURL].longURL %>
  </div>
  
  <form method="POST" action='/urls/<%= shortURL %>/update'>
    <label for="longURL">Change long URL:</label>
    <input id="longURL" type="text" name="longURL" style="width: 300px" value=<%= urls[shortURL].longURL %> >
    <input type="submit" value="Update">
  </form>

  <a href="/urls/new">Add a new URL</a>

</body>
</html>