<!-- views/urls_show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
</head>
<body>
    <p>
      URL: <%= shortURL %>
      Long URL: <%= longURL[shortURL] %>
    </p>
</body>
</html>