<!-- views/urls_show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    
    <p>
      URL: <%= shortURL %>
      Long URL: <%= longURL[shortURL].longURL %>
    </p>
    <form method="POST" action='/urls/<%= shortURL %>/update'>
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" style="width: 300px" value=<%= longURL[shortURL].longURL %> >
      <input type="submit" value="Update">
    </form>
</body>
</html>