<!-- views/urls_show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
</head>
<body>
    <p>
      URL: <%= shortURL %>
      Long URL: <%= longURL[shortURL] %>
    </p>
    <form action="/urls/:longURL/update" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Update">
</body>
</html>